.FormErrors {
      &:not(:last-child){
            margin-bottom: 15px;
      }
      label{
            display: inline-block;
            width: 100%;
            margin-bottom: 5px;
            font-weight: bold;
      }
      input{
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            line-height: 1.5px;
            color: #555;
            background-color: white;
            border: 1px solid gray;
            border-radius: 5px;
            margin-bottom: 5px;
      }
      &__error{
            color:red;
            font-weight: 700;
      }
}