.Employees {
      & > a{
            width: 120px;
            height: 40px;
            font-size: 15px;
            letter-spacing: 1px;
            font-weight: bold;
            color: black;
            background-color: rgb(192, 245, 20);
            border:none;
            border-radius: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            outline: none;
            padding: 0;
            box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
            transition: all 0.3s ease;
            position: fixed;
            bottom: 65px;
            right: 20%;
            &:hover{
                  background-color: #fff;
                  box-shadow: 0px 15px 20px rgba(46,229,157,0.4);
                  color: black; 
            }
      }
}
