main{
      width: 99%;
      margin: auto;
}
table,td{
      text-align: center;
}
td{
      font-weight: bold;
      padding: 10px;
}
img{
      width: 60%;
      height: 150px;
      float: left;
}