.EmployeeDetails {

      &__content{
            margin-bottom: 5px;
            text-align: center;
            & img{
                  margin-bottom: 10px;
            }
      }
}
button{
      margin: 2px;
      width:28%;
      padding: 4px;
      border-radius: 4px;
      background-color: lightblue;
      border: none;
      &:hover{
            background-color: rgb(116, 102, 223);
            color: whitesmoke;
            border: none;
      }
}


