*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body, #root{
  background: linear-gradient(18deg,rgb(20, 127, 163),white);
  /* background: url('./images/bg-shoes.jpeg'); */
}

.Box{
  display: inline-block;
  border: 1px solid;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 3px 3px 7px;
}
